.chat-message {
    display: flex;
    align-items: center;
    padding: $spacing-lg;
    color: white;
    border-radius: $border-radius;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    word-break: break-word;
    gap: $spacing-lg;

    &__avatar {
        font-size: $font-size-xxl;
        color: $color-primary;
        display: flex;
        align-items: center;
        border-radius: 50%;
    }

    &__content {
        flex: 1;
        padding: $spacing-md;
        background-color: $color-input-bg;
        border-radius: $border-radius;
        color: $color-text-dark;
        font-size: $font-size-xl;
    }
}