.chat-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

@media (max-width: $breakpoint-md) {
    .chat-container {
        flex-direction: column;
    }

    .chat-window,
    .response-window {
        width: 100%;
        height: 50vh;
    }

    .chat-window {
        border-right: none;
        border-bottom: 1px solid $color-border;
    }
}